covid-system-api/src/main/mule/covid-implementation-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:compression="http://www.mulesoft.org/schema/mule/compression"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="covid-nationwise" doc:id="e6cd7b9e-e115-4fa8-a920-d380e5c16117" >
		<json-logger:logger doc:name="Logger" doc:id="91526213-ef1c-44ad-a7f9-28dc29ad6239" message='"starting the flow for nation covid update"' config-ref="JSON_Logger_Config"/>
		<http:request method="GET" doc:name="Request to get nation covid details" doc:id="881324d0-5656-4db3-a024-5c4c4b231263" path="/nation" config-ref="HTTP_Request_configuration" responseTimeout="300000">
			<http:headers><![CDATA[#[output application/java
---
{
	"Accepts" : "application/json; application/xml; text/csv; application/vnd.PHE-COVID19.v1+json; application/vnd.PHE-COVID19.v1+xml",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"filters" : "areaType=nation;areaName=England",
	"structure" : '%7B"date":"date","areaName":"areaName","newCasesByPublishDate":"newCasesByPublishDate","newDeathsByDeathDate":"newDeathsByDeathDate"%7D'
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Payload to Json" doc:id="834732d2-36dd-401a-8609-e2e21cac53ab">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read((payload.message),"application/json")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="0948dd8c-745c-4ec6-a228-27d8bdea6ee0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ($.date == ((now() - |P1D|) splitBy ("T") )[0] as String )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="79e0ea70-2f91-4161-8c69-08d859586168" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"date" : (now() splitBy ("T") )[0] as String,
"areaname": vars.location default "london",
"areaCode": payload.areaCode[0] default "S12000033",
"newCasesByPublishDate": payload.daily[0] default "16578",
"cumCasesByPublishDate":payload.cumulative[0] default "1525888"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="covid-global-sapiError_Handler" />
	</flow>
	<flow name="covid-regionwise" doc:id="309163f3-5bf1-4027-9354-6d106ea13a06" >
		<json-logger:logger doc:name="Logger" doc:id="322ee1df-507c-492e-8078-c45ecaaa8a40" message='"starting the flow for region covid update"' config-ref="JSON_Logger_Config"/>
		<set-variable value='#[attributes.queryParams.location default ""]' doc:name="location" doc:id="8bf96fcf-f147-41fd-b1db-c299fed39dc2" variableName="location"/>
		<choice doc:name="Choice" doc:id="fe1c3034-85e1-4b81-8cd7-b325e1bd78c2" >
			<when expression="#[sizeOf(vars.location)&gt;1]">
				<http:request method="GET" doc:name="Request to get areawise covid details" doc:id="689531f1-30bd-4b90-9388-8d3e734359eb" path="/areaname" config-ref="HTTP_Request_configuration">
			<http:headers><![CDATA[#[output application/java
---
{
	"Accepts" : "application/json; application/xml; text/csv; application/vnd.PHE-COVID19.v1+json; application/vnd.PHE-COVID19.v1+xml",
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"filters" : "areaType=ltla",
	"structure" : '%7B"date":"date","areaName":"areaName","areaCode":"areaCode","daily":"newCasesBySpecimenDate","cumulative":"cumCasesBySpecimenDate"%7D'
}]]]></http:query-params>
		</http:request>
				<ee:transform doc:name="Payload to Json" doc:id="f36eba85-2320-437e-98e3-e391ac48e95c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read((payload.message),"application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="6c2f3b3b-4506-4ad3-887e-478c4740858f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload filter ($.areaname == (vars.location as String ))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="851fd305-867b-49e7-88f9-8210ac4e7d48">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{"date" : (now() splitBy ("T") )[0] as String,
"areaname": vars.location default "london",
"areaCode": payload.areaCode[0] default "S12000033",
"daily": payload.daily[0] default "0",
"cumulative":payload.cumulative[0] default "2525"
} 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<http:request method="GET" doc:name="Request to get regionwise covid details" doc:id="0433c73a-c567-45f6-ba27-87e3c9dea72b" config-ref="HTTP_Request_configuration" path="/areaname" >
					<http:headers ><![CDATA[#[output application/java
---
{
	"Accepts" : "application/json; application/xml; text/csv; application/vnd.PHE-COVID19.v1+json; application/vnd.PHE-COVID19.v1+xml",
	"Content-Type" : "application/json"
}]]]></http:headers>
					<http:query-params ><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"filters" : "areaType=ltla",
	"structure" : '%7B"date":"date","areaName":"areaName","areaCode":"areaCode","daily":"newCasesBySpecimenDate","cumulative":"cumCasesBySpecimenDate"%7D'
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Payload to Json" doc:id="231f781a-f3fa-4361-abf1-cb511310637c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read((payload.message),"application/json")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="0dce5385-0816-4860-9628-874201fda660" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload distinctBy ((item, index) -> item.areaName)
map {"date" : (now() splitBy ("T") )[0] ,
"areaName" : $.areaName default "london",
"daily" : $.daily default "1229",
"cumulative": $.cumulative default "135556"

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="covid-global-sapiError_Handler" />
	</flow>
</mule>
